.login form {
  border: 2px solid white;
  max-width: 800px;
  margin: 20px auto;
  padding: 50px;
}
.login form input {
  display: block;
  width: 100%;
  /* margin: 0 auto; */
  margin-bottom: 5px;
  padding: 10px;
}
