.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: gray;
    border-radius: 20%;
    padding: 40px;
      z-index: 999;
}

 .popup-content form input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.popup-content form input{
    margin-bottom: 5px;
    width: 100%;
    height: 30px;
}
h2{
    margin: 0;
}
.linkSignup{
    text-decoration: none;
}
.linkSignup:hover{
    color:#00538a;
}